[submodule "Dark-Interface"]
    path = Dark-Interface       ; Path where the submodule is located within the main repository
    url = https://github.com/Yossef-Diaa/Dark-Interface.git  ; Remote URL of the submodule repository
    branch = master             ; Optional: Specific branch of the submodule repository to track
    ignore = dirty              ; Optional: Ignoring changes in the submodule
